@import '../var.css';

.btn {
  background-color: var(--dark);
  color: var(--extra1);
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: calc(var(--padding) * 1);
  width: var(--width);
  height: var(--width);
  position: relative;
  svg {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
  .tooltip {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 30%;
    right: 120%;
    font-size: 0.7rem;
    text-wrap: nowrap;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
  }
}
