@import '../var.css';

.btn {
  background-color: var(--dark);
  color: var(--extra1);
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: var(--padding);
  /* width: var(--width); */
  /* height: var(--width); */
  svg {
    display: grid;
    place-items: center;
    width: var(--width);
    height: var(--width);
  }
}
