@import '../var.css';

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--light);

  .btn_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    transform: translateX(-100%);
    opacity: 0.5;
    z-index: 1;
  }

  .btn {
    position: fixed;
    top: var(--height);
    left: 0;
    display: grid;
    place-items: center;
    background-color: var(--dark);
    height: var(--height);
    width: calc(var(--width) * 0.5);
    transition: all 0.2s ease-out;
    padding: var(--padding);
    opacity: 1;
    box-shadow: var(--box-shadow);
    z-index: 2;

    .btn_icon {
      position: absolute;
      top: 0%;
      right: 0%;
      transform: translateX(50%);
      transition: all 0.2s ease-out;
      display: flex;
    }
    .add_workout {
      position: absolute;
      transform: translateX(50%);
      top: 0%;
      right: 0%;
    }
    &.open {
      width: calc(var(--width) * 1);
      opacity: 1;
      z-index: 2;

      .btn_icon {
        z-index: 2;
        transform: translateX(50%) rotate(225deg);
      }
      & + .btn_wrapper {
        transform: translateX(0%);
      }
    }
  }
  .empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--dark);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-radius: 15px;
      border: 2px solid var(--extra1);
    }

    div {
      display: flex;
      gap: 0.5rem;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: var(--light);
      span {
        color: var(--extra1);
      }
    }
  }
  .menu {
    position: fixed;
    top: 300px;
    left: 0;
    width: var(--width);
    height: var(--width);
    padding: var(--padding);
    background-color: var(--dark);
    transform: translateX(-50%);

    transition: all 0.2s ease-out;
    .menu_icon {
      position: absolute;
      top: 0;
      /* left: 0; */
      right: -50%;
      z-index: 5;
      transition: all 0.2s ease-out;
    }
    .submenu {
      transform: translateX(50%);
      z-index: 1;
    }
    .submenu .create {
      position: absolute;
      top: 0;
      opacity: 0;
      transition: all 0.2s ease-out 0.2s;
    }

    &.open {
      transform: translateX(0%);
      .menu_icon {
        transform: rotate(225deg);
      }
      .submenu .create {
        top: calc(var(--width) * 1.4);
        opacity: 1;
      }
    }
  }
}
